#para{
    font-size: 4vmax;
    background: linear-gradient(to right , rgb(203,53,108), white);
    background-clip: text;
    color: transparent;
    }
#pro:hover{
   
    box-shadow: 2px 2px 10px  rgb(105,208,215),2px 2px 20px  rgb(105,208,215);

}
