.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    
}
#heading{
    font-size: 4vmax;
    background: linear-gradient(to right , rgb(203,53,108), white);
    background-clip: text;
    color: transparent;
    }
#title{
    font-size: 2vmax;
    background: linear-gradient(to right , rgb(203,53,108), white);
    background-clip: text;
    color: transparent;
    }
 
#slider{
     font-size: 4vmax;
    background: linear-gradient(to right , rgb(203,53,108), white);
    background-clip: text;
    color: transparent
}

